.-ui-select
    line-height: 42px
    font-size: 14px
    letter-spacing: 0.2px
    border-radius: 10px
    position: relative
    cursor: pointer
    background: white
    
    &.active .options
        display: block

.value, .option
    user-select: none


.icon-arrow
    position: absolute
    top: 18px
    right: 15px

    &:before
        width: 5px
        height: 5px

.options
    display: none
    position: absolute
    left: -1px
    top: 100%
    background: white
    width: calc(100% + 2px)

.option.disabled
    opacity: 0.7
    pointer-events: none