.table th
    &:first-child .resizer:first-child,
    &:last-child .resizer:last-child
        display: none


.resizer
    position: absolute
    height: 100%
    width: 10px
    cursor: ew-resize
    z-index: 10
    top: 0

    &:first-child
        left: 0
    
    &:last-child
        right: 0