.__siegel_ui_range_area
    display: flex
    position: relative

    .__siegel_ui__vertical &
        flex-direction: column

.__siegel_ui_range_slider
    position: absolute
    transform: translateX(-50%)

    .__siegel_ui__vertical &
        transform: translateY(-50%)