.root
    overflow: auto
    border-radius: 0 0 $radius $radius
    border: $border
    border-radius: $radius

    .table
        border: none

        th
            border-top: none


.table
    overflow: auto
    table-layout: fixed
    border-radius: 0

    th
        position: sticky
        top: 0
        line-height: 1
        transition: none
        background: $white
        z-index: 1

        &:first-of-type
            border-top-left-radius: $radius

        &:last-of-type
            border-top-right-radius: $radius
    
    tfoot td
        position: sticky
        bottom: 0
        padding: $gutter_lg
        background: $white
        

.resizer:hover
    background: $primary
    width: 5px

.pagination_wrapper
    +flex(flex-end, center)

.virtualization_expander_cell
    border: none !important
    padding: 0 !important