.root
    +flex('', center)


.control, .separator
    width: 40px
    margin: 0 $gutter_sm

.control
    +flex(center, center)
    +font(20px, 40px, $secondary)
    height: 40px
    border: $border
    border-width: 2px
    border-radius: 50%
    cursor: pointer

    &:first-of-type i
        transform: rotate(-180deg)

    i
        +font(26px, '', $secondary)
        pointer-events: none


.control__active
    color: $white
    background: $primary
    border-color: $primary

.control__disabled
    border-color: $border_color_light
    cursor: default

    i
        color: $border_color_light

.separator
    align-self: flex-end
    font-size: 20px
    letter-spacing: 2px
    text-align: center