$width: 200px

    
.root
    width: $width
    position: relative

    &._active
        .options
            display: block
        
        .title
            border-color: $primary
            border-radius: $radius $radius 0 0

            i
                transform: rotate(90deg)
    
    &:not(._disabled) .title
        cursor: pointer

.title
    +flex(space-between, center)
    padding-right: $gutter

    i
        font-size: 22px
        transition: transform $transition

.options
    display: none
    position: absolute
    width: 100%
    margin-top: -1px
    padding: 0 $gutter $gutter-sm
    border: 1px solid $primary
    border-top-color: $white
    background: $white
    border-radius: 0 0 $radius $radius

.option
    +font(16px, 24px)

    &:not(._option_disabled)
        cursor: pointer

        &:hover
            color: $secondary

._disabled .title
    color: $border_color_light
    border-color: $border_color_light

._option_active
    color: $primary

._option_disabled
    cursor: default
    color: $border_color_light