._icon
    display: inline-flex

    &::before
        font-icon-dest: '' // Mark pseudoclass as all icon's common pseudoclass


=icon($icon)
    .#{$icon}::before
        font-icon: './svg_sources/#{$icon}.svg'
        @content


+icon(check)
+icon(chevron)
+icon(close)
+icon(edit)
+icon(more_vert)
+icon(search)
+icon(git)