{
    "ignorePatterns": [
        "/dist/", "/node_modules/", "/lib/"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:react/recommended"
    ],
    "env": {
        "es2020": true,
        "browser": true,
        "node": true,
        "serviceworker": true,
        "worker": true
    },
    "plugins": [ "@typescript-eslint", "react" ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.eslint.json",
        "tsconfigRootDir": ".",
        "ecmaFeatures": { "jsx": true },
        "sourceType": "module",
        "extraFileExtensions": [ ".cjs", ".mjs" ]
    },
    "rules": {
        "object-curly-spacing": [1, "always"],
        "eol-last": [1, "never"],
        "quotes": [1, "single", "avoid-escape"],
        "semi": [1, "never"],
        "arrow-parens": [1, "as-needed"],
        "no-trailing-spaces": 1,
        "prefer-spread": 0,
        "no-inner-declarations": 0,
        "no-cond-assign": 0,
        "comma-dangle": 1,
        "no-case-declarations": 0,
        "react/display-name": 0,
        "react/jsx-no-bind": 0,
        "react/no-children-prop": 0,
        "react/prop-types": 0,
        "react/jsx-curly-spacing": [1, "always", {
            "spacing": { "objectLiterals": "never" }
        }],
        "react/jsx-first-prop-new-line": [1, "never"],
        "react/jsx-closing-bracket-location": [1, "after-props"],
        "react/jsx-no-useless-fragment": 1,
        "react/jsx-props-no-multi-spaces": 1,
        "@typescript-eslint/no-non-null-asserted-optional-chain" : 0,
        "@typescript-eslint/ban-ts-comment": 0,
        "@typescript-eslint/no-misused-promises": 0,
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/no-use-before-define": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/camelcase": 0,
        "@typescript-eslint/member-delimiter-style": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-unsafe-member-access": 0,
        "@typescript-eslint/no-unsafe-assignment": 0,
        "@typescript-eslint/restrict-plus-operands": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/no-unsafe-call": 0,
        "@typescript-eslint/restrict-template-expressions": 0,
        "@typescript-eslint/no-floating-promises": 0,
        "@typescript-eslint/no-unsafe-return": 0,
        "@typescript-eslint/unbound-method": 0,
        "@typescript-eslint/no-unnecessary-type-assertion": 0,
        "@typescript-eslint/no-unsafe-argument": 0,
        "@typescript-eslint/ban-types": 0
    }
}