{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": { "jsx": true },
        "sourceType": "module"
    },
    "plugins": ["react"],
    "rules": {
        "react/jsx-no-bind": [
            "error",
            {
                "allowArrowFunctions": true,
                "allowBind": false,
                "ignoreRefs": true
            }
        ],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/jsx-key": "error",
        "react/jsx-indent": 0,
        "react/jsx-indent-props": 0,
        "react/jsx-tag-spacing": 0,
        "react/no-deprecated": "warn",
        "react/no-did-update-set-state": "error",
        "react/react-in-jsx-scope": "error",
        "react/no-unknown-property": "error",
        "getter-return": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-unused-vars": "warn",
        "no-fallthrough": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-semi": "error",
        "no-invalid-regexp": "error",
        "no-unreachable": "error",
        "no-undef": "error",
        "default-case": "warn"
    }
}