{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:react/recommended"
    ],
    "env": {
        "es2017": true,
        "browser": true,
        "node": true,
        "serviceworker": true,
        "worker": true
    },
    "plugins": [ "@typescript-eslint", "react" ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.eslint.json",
        "tsconfigRootDir": ".",
        "ecmaFeatures": { "jsx": true },
        "sourceType": "module"
    },
    "rules": {
        "react/display-name": 0,
        "react/jsx-no-bind": 0,
        "react/no-children-prop": 0,
        "react/prop-types": 0,
        "prefer-spread": 0,
        "no-inner-declarations": 0,
        "no-cond-assign": 0,
        "@typescript-eslint/ban-ts-comment": 0,
        "@typescript-eslint/no-misused-promises": 0,
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/no-use-before-define": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/camelcase": 0,
        "@typescript-eslint/member-delimiter-style": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-unsafe-member-access": 0,
        "@typescript-eslint/no-unsafe-assignment": 0,
        "@typescript-eslint/restrict-plus-operands": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/no-unsafe-call": 0,
        "@typescript-eslint/restrict-template-expressions": 0,
        "@typescript-eslint/no-floating-promises": 0,
        "@typescript-eslint/no-unsafe-return": 0,
        "@typescript-eslint/unbound-method": 0,
        "@typescript-eslint/no-unnecessary-type-assertion": 0
    }
}