.__siegel_ui_root
    user-select: none

.__siegel_ui_month_title_wrapper, .__siegel_ui_week, .__siegel_ui_row
    display: flex

.__siegel_ui_day__hidden
    pointer-events: none
    visibility: hidden