.-ui-row-filter
    display: flex
    overflow: hidden

    .filter-btn
        text-transform: uppercase
        letter-spacing: .5px
        font-weight: 600
        font-size: 10px
        cursor: pointer
        text-align: center
        line-height: 30px

    &.disabled
        opacity: .5
        cursor: none
        pointer-events: none
