.-ui-number-picker 
    display:        flex
    flex-direction: row

    input, button 
        height:     100%
        @extend .animation
    
    input 
        text-align:         center
        border-left-width:  0
        border-right-width: 0
        font-weight:        600
    
    label
        position:       relative
        display:        flex
        align-items:    center

        &::before, &::after
            position:       absolute
            line-height:    normal
            font-weight:    bold

        &::before
            left:   3px
            content: attr(data-prefix)

        &::after
            right:  3px
            content: attr(data-sufix)

    button 
        flex:       1
        cursor:     pointer
        
        &.plus 
            text-indent:    -3px
        
        &.minus 
            text-indent:    3px